.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
@media screen and  (min-width: 768px) {
  h1{
    font-size: 8rem;
    font-family:  system-ui;
    text-shadow: 5px 0 #232931;
  }
  p{
    font-size: 3rem;
  }
  h3{
    font-size: 2rem;
  }
  button{
    font-size: 3rem;
  }

}

.body {
  background-color:#3385ff;
}
.bolded{
   font-size: 4rem;
}

h1 {
  margin: 30px;
  font-size: 10rem;
  color: #4ECCA3;
}
.hbolder {
  margin: 30px;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 5rem;
  color: #4dff4d;
  
}
h3{
  font-size: 5rem;
  color: #ff6600;
  

}
img {
  width: 80%;
}

foot{
  margin-top: 5%;
  color: #3d8595;
  text-align: center;
  

}
button {
  font-size: 5rem;
  

}

foot{
  position: relative;
  bottom: 0px;
  font-size:2rem;

}
a{
  text-decoration: none;
  color: #33cc33;
}
